/workshops/JavaApplication4/nbproject/private/
/workshops/FP2_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperatos/nbproject/private/
/workshops/unit1/WS03operators/BasicOperatos/build/
/assignments/Area_rombo/nbproject/private/
/assignments/Area_Triangulo_int/nbproject/private/
/assignments/Area_Triangulo_int/build/
/assignments/JavaApplication14/nbproject/private/
/assignments/JavaApplication14/build/
/assignments/Area_rombo_int/nbproject/private/
/assignments/Area_rombo_int/build/
/assignments/JavaApplication16/nbproject/private/
/assignments/JavaApplication16/build/
/assignments/JavaApplication17/nbproject/private/
/assignments/JavaApplication17/build/
/assignments/Area_Rombo_Int/nbproject/private/
/assignments/Area_Rombo_Int/build/
/assignments/Area_Rombo_Shot/nbproject/private/
/assignments/Area_Rombo_Shot/build/
/assignments/Area_Rombo_Foat/nbproject/private/
/assignments/Area_Rombo_Foat/build/