/workshops/JavaApplication4/nbproject/private/
/workshops/FP2_controlStatement/nbproject/private/
/workshops/FP02_controlStatement/build/
/workshops/unit1/WS03operators/BasicOperations/nbproject/private/
/workshops/unit1/WS03operators/BasicOperations/build/
/workshops/unit1/WS03operators/BasicOperatos/nbproject/private/
/workshops/unit1/WS03operators/BasicOperatos/build/
/assignments/Area_rombo/nbproject/private/
/assignments/Area_Triangulo_int/nbproject/private/
/assignments/Area_Triangulo_int/build/
/assignments/JavaApplication14/nbproject/private/
/assignments/JavaApplication14/build/
/assignments/Area_rombo_int/nbproject/private/
/assignments/Area_rombo_int/build/
/assignments/JavaApplication16/nbproject/private/
/assignments/JavaApplication16/build/
/assignments/JavaApplication17/nbproject/private/
/assignments/JavaApplication17/build/
/assignments/Area_Rombo_Int/nbproject/private/
/assignments/Area_Rombo_Int/build/
/assignments/Area_Rombo_Shot/nbproject/private/
/assignments/Area_Rombo_Shot/build/
/assignments/Area_Rombo_Foat/nbproject/private/
/assignments/Area_Rombo_Foat/build/
/workshops/unit1/WS04-LogicalOperators/nbproject/private/
/workshops/unit1/WS04-LogicalOperators/build/
/workshops/unit1/WS05Iterations/nbproject/private/
/workshops/unit1/WS05Iterations/build/
/assignments/unit1/HW04Iterations/nbproject/private/
/assignments/unit1/HW04Iterations/build/
/assignments/unit1/HW03Iterations/nbproject/private/
/assignments/unit1/HW03Iterations/build/
/ExamUnit1/ExamUnit1/nbproject/private/
/ExamUnit1/CastilloJhonQ11/nbproject/private/
/ExamUnit1/CastilloJhonQ11/build/
/workshops/unit1/WS07Menus/nbproject/private/
/workshops/unit1/WS07Menus/build/
/workshops/unit1/MenusPlazas/nbproject/private/
/workshops/unit1/MenusPlazas/build/
/assignments/unit1/MenusPlazas/nbproject/private/
/assignments/unit1/MenusPlazas/build/
/Proyect/ProyectGoNavegation/nbproject/private/
/Proyect/ProyectGoNavegation/build/
/workshops/Unit2/WS08debugging/nbproject/private/
/workshops/Unit2/WS08debugging/build/
/assignments/Unit2/HW09/HW09EmbeddedStructures/nbproject/private/
/assignments/Unit2/HW09/HW09EmbeddedStructures/build/
/workshops/Unit2/WS10Functions/nbproject/private/
/workshops/Unit2/WS10Functions/build/
/assignments/Unit2/HW10Functions/nbproject/private/
/assignments/Unit2/HW10Functions/build/
/workshops/Unit2/WS10/WS10/nbproject/private/
/workshops/Unit2/WS11/WS10/build/
/assignments/Unit2/HW11Recursion/HW11Recursion/nbproject/private/
/assignments/Unit2/HW11Recursion/HW11Recursion/build/
/assignments/Unit2/HW11Recursion/HW11Cases/build/
/assignments/Unit2/HW11Recursion/HW11Cases/nbproject/private/
/assignments/Unit2/HW11Recursion/WS12Libreris/nbproject/private/
/assignments/Unit2/HW11Recursion/WS12Libreris/build/
/assignments/Unit2/WS12Libreris/build/
/assignments/Unit2/WS12Libreris/nbproject/private/
/assignments/Unit2/HW-Taxes/nbproject/private/
/assignments/Unit2/HW-Taxes/build/
/assignments/Unit2/HW-Texas-Renta/nbproject/private/
/assignments/Unit2/HW-Texas-Renta/build/
/assignments/Unit2/HW-Taxes-Divisas/nbproject/private/
/assignments/Unit2/HW-Taxas-Renta/build/
/assignments/Unit2/HW-Taxas-Renta/nbproject/private/
/assignments/Unit2/HW-Taxes-Divisas/build/
/assignments/Unit2/WS13-Task/nbproject/private/
/assignments/Unit2/WS13-Task/build/
/assignments/Unit2/WS-Task-Pentagon/nbproject/private/
/assignments/Unit2/WS-Task-Pentagon/build/
/assignments/Unit2/WS-Task-Octagon/nbproject/private/
/assignments/Unit2/WS-Task-Octagon/build/
/assignments/Unit2/WS13-Task-Fisica/nbproject/private/
/assignments/Unit2/WS13-Task-Fisica/build/
/assignments/Unit2/HW13-Task-Fisica/build/
/assignments/Unit2/HW13-Task-Fisica/nbproject/private/